# Расчет средней наценки
Необходимо расчитать наценку на каждый товар, проданный с 01.04.2023 по 10.04.2023, а затем расчитать среднюю наценку на товары из серебра и из золота

In [ ]:
import pandas as pd
import numpy as np

In [153]:
df = pd.read_csv('test_task_one.csv', parse_dates=True)
df.head()

,ДатаПродажи,НомерЧека,Номенклатура,Штрихкод,ТоварнаяГруппа,СН_Характеристика,бгсВес,ОбщаяСумма,Себестоимость
0,4/1/23 10:05,1814,серьги с брил.+изумрудом с родир,1078601904686,ДК СЕРЬГИ,Au 585º -,"2,89",51180,"17276,0475"
1,4/1/23 10:08,4868,Серьги с топазом,1078551306013,ПДК СЕРЬГИ,Au 585º -,"3,99",34740,"12074,747"
2,4/1/23 10:08,617,Кольцо с брилл.+изум.гидротерм. с родир.,1078509166518,ДК КОЛЬЦА,"Au 585º -, разм.18,5","2,05",17760,"6629,612"
3,4/1/23 10:11,461,Кольцо с амет. род.,1078579406088,СИ КОЛЬЦО ЦВ/К,"Ag 925º -, разм.19,0","1,46",756,"302,22"
4,4/1/23 10:12,3939,Цепь Якорь с а/г род.,1078601866814,СИ ЦЕПЬ,"Ag 925º -, разм.40,0","2,7",1560,"458,9995"

Мы считали **датафрэйм** из файла

In [154]:
df = df.rename(columns = {'ДатаПродажи' : 'date', 'НомерЧека' : 'check_number', 'Номенклатура' : 'nomenclature', 'Штрихкод' : 'barcode', 
                         'ТоварнаяГруппа' : 'product_group', 'СН_Характеристика' : 'ch_characteristic', 'бгсВес' : 'mass', 
                          'ОбщаяСумма' : 'all_cost', 'Себестоимость' : 'cost_price'})
df.head()

,date,check_number,nomenclature,barcode,product_group,ch_characteristic,mass,all_cost,cost_price
0,4/1/23 10:05,1814,серьги с брил.+изумрудом с родир,1078601904686,ДК СЕРЬГИ,Au 585º -,"2,89",51180,"17276,0475"
1,4/1/23 10:08,4868,Серьги с топазом,1078551306013,ПДК СЕРЬГИ,Au 585º -,"3,99",34740,"12074,747"
2,4/1/23 10:08,617,Кольцо с брилл.+изум.гидротерм. с родир.,1078509166518,ДК КОЛЬЦА,"Au 585º -, разм.18,5","2,05",17760,"6629,612"
3,4/1/23 10:11,461,Кольцо с амет. род.,1078579406088,СИ КОЛЬЦО ЦВ/К,"Ag 925º -, разм.19,0","1,46",756,"302,22"
4,4/1/23 10:12,3939,Цепь Якорь с а/г род.,1078601866814,СИ ЦЕПЬ,"Ag 925º -, разм.40,0","2,7",1560,"458,9995"

Переименовали колонки для удобсва дальнейшей работы с датафрэймом с помощью функции **rename**

In [163]:
right_df = df[df['date'].between('2023-04-01', '2023-04-11')]
right_df.head()

,date,check_number,nomenclature,barcode,product_group,ch_characteristic,mass,all_cost,cost_price
0,2023-04-01 10:05:00,1814,серьги с брил.+изумрудом с родир,1078601904686,ДК СЕРЬГИ,Au 585º -,"2,89",51180,"17276,0475"
1,2023-04-01 10:08:00,4868,Серьги с топазом,1078551306013,ПДК СЕРЬГИ,Au 585º -,"3,99",34740,"12074,747"
2,2023-04-01 10:08:00,617,Кольцо с брилл.+изум.гидротерм. с родир.,1078509166518,ДК КОЛЬЦА,"Au 585º -, разм.18,5","2,05",17760,"6629,612"
3,2023-04-01 10:11:00,461,Кольцо с амет. род.,1078579406088,СИ КОЛЬЦО ЦВ/К,"Ag 925º -, разм.19,0","1,46",756,"302,22"
4,2023-04-01 10:12:00,3939,Цепь Якорь с а/г род.,1078601866814,СИ ЦЕПЬ,"Ag 925º -, разм.40,0","2,7",1560,"458,9995"

Далее извлекаем только те покупки, которые были совершены с **01.04.2023 00:00 по 10.04.2023 23:59**. Что извлекли - представлено выше

In [165]:
right_df = right_df.copy()
right_df['all_cost'] = right_df['all_cost'].str.replace(',', '.', regex=False)
right_df['cost_price'] = right_df['cost_price'].str.replace(',', '.', regex=False)

In [167]:
right_df.all_cost = right_df['all_cost'].astype(float)
right_df.cost_price = right_df['cost_price'].astype(float)
right_df_not_zero = right_df.query("all_cost > 0 and cost_price > 0")

In [169]:
right_df

,date,check_number,nomenclature,barcode,product_group,ch_characteristic,mass,all_cost,cost_price
0,2023-04-01 10:05:00,1814,серьги с брил.+изумрудом с родир,1078601904686,ДК СЕРЬГИ,Au 585º -,"2,89",51180.0,17276.0475
1,2023-04-01 10:08:00,4868,Серьги с топазом,1078551306013,ПДК СЕРЬГИ,Au 585º -,"3,99",34740.0,12074.7470
2,2023-04-01 10:08:00,617,Кольцо с брилл.+изум.гидротерм. с родир.,1078509166518,ДК КОЛЬЦА,"Au 585º -, разм.18,5","2,05",17760.0,6629.6120
3,2023-04-01 10:11:00,461,Кольцо с амет. род.,1078579406088,СИ КОЛЬЦО ЦВ/К,"Ag 925º -, разм.19,0","1,46",756.0,302.2200
4,2023-04-01 10:12:00,3939,Цепь Якорь с а/г род.,1078601866814,СИ ЦЕПЬ,"Ag 925º -, разм.40,0","2,7",1560.0,458.9995
...,...,...,...,...,...,...,...,...,...
128353,2023-04-10 21:29:00,805,"Кольцо, фианит",1078591749910,ИФ КОЛЬЦА,"Au 585º -, разм.16,0","1,06",9600.0,3301.6270
128354,2023-04-10 21:34:00,5577,Подвес икона Казанская,1078601867398,БК ПОДВЕС КУЛЬТ,Au 585º -,"0,98",7080.0,3580.5135
128355,2023-04-10 21:38:00,135,Кольцо обруч. с брилл.,1078581370568,ДК КОЛЬЦА ОБРУЧ,"Au 585º -, разм.19,0","1,8",12108.0,5662.7150
128356,2023-04-10 21:39:00,1074,"Подвес, кубический цирконий",1078515898810,ИФ ПОДВЕС ДЕКОР,Au 585º -,"0,42",3840.0,972.7045
128357,2023-04-10 21:49:00,1494,Цепь Снейк граненый поз.,1078438614844,СИ ЦЕПЬ,"Ag 925º -, разм.45,0","2,75",627.6,395.6000

Далее нам надо было преобразовать колонки **all_cost** и **cost_price** в тип данных с плавающей запятой, чтобы найти все значения больше нуля и создать новую колонку - **наценка (under_price)**. Для этого мы сначала заменяем запятую на точку, потом уже приводим к типу данных **float**. Создаем новую колонку **наценка (under_price)** разницей **общей суммы (all_cost)** и **себестоимостью (cost_price)**

In [176]:
right_df['under_price'] = right_df.all_cost - right_df.cost_price
right_df.head()

,date,check_number,nomenclature,barcode,product_group,ch_characteristic,mass,all_cost,cost_price,under_price
0,2023-04-01 10:05:00,1814,серьги с брил.+изумрудом с родир,1078601904686,ДК СЕРЬГИ,Au 585º -,"2,89",51180.0,17276.0475,33903.9525
1,2023-04-01 10:08:00,4868,Серьги с топазом,1078551306013,ПДК СЕРЬГИ,Au 585º -,"3,99",34740.0,12074.7470,22665.2530
2,2023-04-01 10:08:00,617,Кольцо с брилл.+изум.гидротерм. с родир.,1078509166518,ДК КОЛЬЦА,"Au 585º -, разм.18,5","2,05",17760.0,6629.6120,11130.3880
3,2023-04-01 10:11:00,461,Кольцо с амет. род.,1078579406088,СИ КОЛЬЦО ЦВ/К,"Ag 925º -, разм.19,0","1,46",756.0,302.2200,453.7800
4,2023-04-01 10:12:00,3939,Цепь Якорь с а/г род.,1078601866814,СИ ЦЕПЬ,"Ag 925º -, разм.40,0","2,7",1560.0,458.9995,1101.0005

In [241]:
right_df['product_group'] = right_df['product_group'].astype(str)
right_df['ch_characteristic'] = right_df['ch_characteristic'].astype(str)
silver_df = right_df[right_df['product_group'].str.startswith("СИ")]
gold_df = right_df[right_df['ch_characteristic'].fillna("").str.startswith("Au")]
silver_df.head()

,date,check_number,nomenclature,barcode,product_group,ch_characteristic,mass,all_cost,cost_price,under_price
3,2023-04-01 10:11:00,461,Кольцо с амет. род.,1078579406088,СИ КОЛЬЦО ЦВ/К,"Ag 925º -, разм.19,0","1,46",756.0,302.2200,453.7800
4,2023-04-01 10:12:00,3939,Цепь Якорь с а/г род.,1078601866814,СИ ЦЕПЬ,"Ag 925º -, разм.40,0","2,7",1560.0,458.9995,1101.0005
5,2023-04-01 10:13:00,3194,Браслет с фиан. поз.,1078540181198,СИ БРАСЛЕТ СК,"Ag 925º -, разм.19,0","4,98",4622.4,1300.0290,3322.3710
6,2023-04-01 10:13:00,3194,Серьги-продёвки поз.,1078568618163,СИ СЕРЬГИ РАЗН,Ag 925º -,"3,53",3009.6,1022.9940,1986.6060
8,2023-04-01 10:17:00,4689,Кольцо-печатка с черн.эмалью род.,1078601068378,СИ КОЛЬЦО ПЕЧАТ,"Ag 925º -, разм.21,0","4,07",3396.0,587.1555,2808.8445

Мы приводим к строчному типу данных колонки **product_group** и **ch_characteristic**. И создаем 2 новых датафрэйма с серебряными изделиями и золотыми изделиями, после чего мы находим **средние значения наценки** на каждое изделие

In [264]:
gold_df.head()

,date,check_number,nomenclature,barcode,product_group,ch_characteristic,mass,all_cost,cost_price,under_price
0,2023-04-01 10:05:00,1814,серьги с брил.+изумрудом с родир,1078601904686,ДК СЕРЬГИ,Au 585º -,"2,89",51180.0,17276.0475,33903.9525
1,2023-04-01 10:08:00,4868,Серьги с топазом,1078551306013,ПДК СЕРЬГИ,Au 585º -,"3,99",34740.0,12074.7470,22665.2530
2,2023-04-01 10:08:00,617,Кольцо с брилл.+изум.гидротерм. с родир.,1078509166518,ДК КОЛЬЦА,"Au 585º -, разм.18,5","2,05",17760.0,6629.6120,11130.3880
7,2023-04-01 10:17:00,6408,Браслет Лав пуст с а/г,1078567150945,ЦБ БРАСЛЕТЫ,"Au 585º -, разм.17,0","0,88",5748.0,2626.1170,3121.8830
9,2023-04-01 10:18:00,3561,Цепь Ромб тройной пуст,1078601144359,ЦБ ЦЕПИ,"Au 585º -, разм.50,0","6,58",37500.0,20642.6035,16857.3965

In [266]:
print(f'Средняя наценка на изделия из золота = {np.round(gold_df['under_price'].mean(), 2)}')
print(f'Средняя наценка на изделия из серебра = {np.round(silver_df['under_price'].mean(), 2)}')

Средняя наценка на изделия из золота = 8334.32
Средняя наценка на изделия из серебра = 1267.16